@charset "UTF-8";
/* Нормализация шрифтов */
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями
  */
img {
  display: block;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  height: 100%;
  /**
     Плавный скролл
    */
  scroll-behavior: smooth;
}

body {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  min-height: 100%;
  /**
     Унифицированный интерлиньяж
    */
  line-height: 1.5;
}

/**
   Приводим к единому цвету svg-элементы
  */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --font-family-base: "Open Sans", sans-serif;
  --container-width: 1296px;
  --container-padding-x: 20px;
  --color-accent:#F95707;
  --color-input:#FFF7F3;
  --color-light: #ffffff;
  --color-green:#105720;
  --color-dark:#1F1F1F;
  --input-height: 46px;
  --border-radius:100px;
  --nav-color:#4C4C4C;
}

.container {
  max-width: calc(var(--container-width));
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(16px, 1.25vw, 18px);
  font-family: var(--font-family-base);
  font-weight: 400;
  color: var(--color-dark);
  background-color: var(--color-light);
}

a,
button,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1 {
  font-size: clamp(43px, 4.1666666667vw, 60px);
}

h2 {
  font-size: clamp(36px, 2.7777777778vw, 40px);
}

h3 {
  font-size: clamp(26px, 2.0833333333vw, 30px);
}

h4 {
  font-size: clamp(18px, 1.3888888889vw, 20px);
}

.header {
  padding-top: 16px;
  line-height: 21.79px;
  font-size: 16px;
  font-weight: 600;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}
.header__logo {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
  line-height: 16.34px;
  font-size: 12px;
  font-weight: 400;
}
.header__logo p {
  opacity: 80%;
}
.header .header__menu {
  border-top: 1px solid rgba(31, 31, 31, 0.1019607843);
}
.header .header__menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: var(--nav-color);
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.header .header__menu-item {
  height: 100%;
  display: flex;
  align-items: center; /* Чтобы ссылка внутри была выровнена по центру вертикально */
  font-size: 16px;
  font-weight: 400;
}
.header .header__menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 67px;
  padding: 0 10px;
  text-decoration: none;
  color: inherit;
  position: relative;
  transition: color 0.3s ease;
}
.header .header__menu-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
.header .header__menu-link:hover {
  color: var(--color-accent);
}
.header .header__menu-link:hover::after {
  background-color: var(--color-accent);
}

.utility-bar {
  display: flex;
  align-items: center;
  gap: 98px;
  margin-left: 42px;
}
.utility-bar__search {
  background-color: var(--color-input);
  height: var(--input-height);
  display: flex;
  align-items: center;
  width: 215px;
  padding-inline: 28px;
  border-radius: 100px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21.79px;
}
.utility-bar__calculator {
  color: var(--color-green);
  text-decoration: underline;
  text-decoration-color: var(--color-green);
  text-decoration-thickness: 1px;
}
.utility-bar__social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.search__input {
  outline: none;
  height: var(--input-height);
  margin-left: 4px;
  width: 100%;
  background-color: transparent;
  border: none;
  color: var(--color-accent);
  font-size: 16px;
  line-height: 21.79px;
  font-weight: 600;
}
.search__input::placeholder {
  color: var(--color-accent);
}
.search__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 100%;
}
.search__icon {
  width: 16px;
  height: 16px;
}

.contact-us {
  display: flex;
  align-items: center;
  margin-left: 42px;
  gap: 42px;
}
.contact-us__details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 16px;
  line-height: 21.79px;
}
.contact-us__callback-btn {
  padding: 12px 32px;
  color: var(--color-accent);
  background-color: transparent;
}
.contact-us__phone {
  color: var(--color-dark);
  font-size: 16px;
  font-weight: 600;
  line-height: 21.79px;
}
.contact-us__email {
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  color: var(--color-dark);
}

.logo__link {
  width: 196px;
  height: 58px;
}
.logo__schedule {
  font-size: 12px;
  line-height: 16.34px;
  font-weight: 400;
}

.link {
  font-size: 16px;
  font-weight: 600;
  line-height: 21.79px;
  padding: 12px 32px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-accent);
}

.scrap-section {
  padding-top: 52px;
  padding-bottom: 132px;
  border-top: 1px solid #e8e8e8;
  background-color: #f3f7f4;
}
.scrap-section__body {
  display: flex;
  gap: 62px;
}
.scrap-section__request {
  color: var(--color-light);
  background-color: var(--color-accent);
  font-weight: 600;
  margin-top: 72px;
}
.scrap-section__wrapper {
  position: relative;
}
.scrap-section .car-image {
  position: absolute;
  right: 0;
  top: 58%;
  transform: translateY(-50%);
  width: 838px;
  height: 689px;
}

.scrap-metal {
  width: 514px;
  margin-top: 48px;
}
.scrap-metal__title {
  font-size: 48px;
  line-height: 65.37px;
  font-weight: 600;
}
.scrap-metal__link {
  color: var(--color-accent);
  background-color: transparent;
}
.scrap-metal__links {
  display: flex;
  margin-top: 49px;
  align-items: center;
  gap: 12px;
}
.scrap-metal__extras {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}
.scrap-metal__request {
  margin-top: 78px;
}

.highlight {
  color: var(--color-green);
}

.card-section {
  margin-top: 62px;
}
.card-section__list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.card-section__item {
  background-color: var(--color-light);
  border-radius: 12px;
  border: 1px solid #e8e8e8;
  padding: 20px;
}
.card-section__item--first {
  padding: 20px 84px 24px 30px;
}
.card-section__item--second {
  padding: 20px 45px 24px 30px;
}
.card-section__item--third {
  padding: 20px 86px 24px 30px;
}
.card-section__description {
  margin-top: 12px;
  font-size: 16px;
  line-height: 21.79px;
  color: var(--color-dark);
}

.brand {
  display: flex;
  align-items: center;
  gap: 12px;
}
.brand__name {
  font-size: 20px;
  font-weight: 600;
  line-height: 27.24px;
  color: var(--color-dark);
  white-space: nowrap;
}

.complex-service {
  margin-top: 97px;
  margin-bottom: 100px;
}
.complex-service__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 42px;
  padding-bottom: 42px;
  border-top: 2px solid var(--color-accent);
  border-bottom: 2px solid var(--color-accent);
}
.complex-service__title {
  font-size: 42px;
  font-weight: 600;
  line-height: 57.2px;
  color: var(--color-dark);
  margin-right: 253px;
}

.text-block__paragraph {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 21.79px;
}
.text-block__paragraph:last-child {
  margin-bottom: 0;
}/*# sourceMappingURL=styles.css.map */