.contact-us {
  display: flex;
  align-items: center;
  margin-left: 42px;
  gap: 42px;

  &__details {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 16px;
    line-height: 21.79px;
  }
  &__callback-btn {
    padding: 12px 32px;
    color: var(--color-accent);
    background-color: transparent;
  }
  &__phone {
    color: var(--color-dark);
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
  }
  &__email {
    font-weight: 400;
    font-size: 16px;
    line-height: 21.79px;
    color: var(--color-dark);
  }
}
