:root {
  --font-family-base: "Open Sans", sans-serif;
  --container-width: 1296px;
  --container-padding-x: 20px;
  --color-accent:#F95707;
  --color-input:#FFF7F3;
  --color-light: #ffffff;
  --color-green:#105720;
  --color-dark:#1F1F1F;
  --input-height: 46px;
  --border-radius:100px;
  --nav-color:#4C4C4C;


}

